function Board.new 3
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
pop local 0
push constant 0
pop this 3
push constant 0
pop this 2
push constant 7
call Array.new 1
pop this 0
label WHILE_EXP0
push local 0
push constant 7
lt
not
if-goto WHILE_END0
push constant 7
call Array.new 1
pop local 2
push local 0
push this 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 7
call Array.new 1
pop this 1
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP1
push local 0
push constant 7
lt
not
if-goto WHILE_END1
push constant 6
call Array.new 1
pop local 2
label WHILE_EXP2
push local 1
push constant 6
lt
not
if-goto WHILE_END2
push local 1
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push this 1
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push pointer 0
return
function Board.playerNumber 0
push argument 0
pop pointer 0
push this 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
goto IF_END0
label IF_FALSE0
push constant 2
return
label IF_END0
function Board.print 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 7
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 2
label WHILE_EXP1
push local 1
push constant 6
lt
not
if-goto WHILE_END1
push local 1
push local 2
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 44
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
call Output.println 0
pop temp 0
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.putPlayer 4
push argument 0
pop pointer 0
push constant 1
neg
pop local 1
push this 2
push constant 0
call Piece.new 2
pop local 0
push argument 1
push this 1
add
pop pointer 1
push that 0
pop local 3
label WHILE_EXP0
push local 1
push constant 1
add
push local 3
add
pop pointer 1
push that 0
push constant 0
eq
push local 1
push constant 5
lt
and
not
if-goto WHILE_END0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 1
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
pop local 2
push local 2
push local 3
add
push pointer 0
call Board.playerNumber 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 3
push local 2
push local 3
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push argument 1
push local 2
call Piece.drawPiece 3
pop temp 0
push this 2
not
pop this 2
push constant 0
not
return
function Board.connectedCol 2
push argument 0
pop pointer 0
push argument 2
push constant 1
add
pop local 0
push argument 2
push argument 1
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
label WHILE_EXP0
push local 0
push argument 2
push constant 4
add
lt
not
if-goto WHILE_END0
push local 0
push argument 1
add
pop pointer 1
push that 0
push local 1
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
pop this 3
push constant 0
not
return
function Board.connectedRow 3
push argument 0
pop pointer 0
push argument 2
push constant 1
add
pop local 1
push argument 2
push this 1
add
pop pointer 1
push that 0
pop local 0
push argument 1
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
label WHILE_EXP0
push local 1
push argument 2
push constant 4
add
lt
push local 2
push argument 1
push local 0
add
pop pointer 1
push that 0
eq
and
not
if-goto WHILE_END0
push local 1
push this 1
add
pop pointer 1
push that 0
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 1
push argument 2
push constant 4
add
eq
push local 2
push argument 1
push local 0
add
pop pointer 1
push that 0
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
pop this 3
push constant 0
not
return
goto IF_END1
label IF_FALSE1
push constant 0
return
label IF_END1
function Board.checkDiagonal 4
push argument 0
pop pointer 0
push argument 1
push this 1
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
pop local 2
push constant 0
not
pop local 3
push local 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 1
pop local 1
push argument 1
push constant 2
sub
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label WHILE_EXP0
push local 1
push constant 4
lt
push local 3
and
not
if-goto WHILE_END0
push argument 1
push local 1
sub
push this 1
add
pop pointer 1
push that 0
pop local 0
push local 2
push argument 2
push local 1
add
push local 0
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 3
goto IF_END2
label IF_FALSE2
push constant 0
pop local 3
label IF_END2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 1
push constant 4
eq
push local 3
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
pop this 3
push constant 0
push argument 3
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push argument 3
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push argument 3
add
push argument 1
push constant 3
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push argument 3
add
push argument 2
push constant 3
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
label IF_FALSE3
label IF_FALSE1
push constant 1
pop local 1
push constant 0
not
pop local 3
push argument 1
push this 1
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
pop local 2
push argument 1
push constant 3
add
push constant 7
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
label WHILE_EXP1
push local 1
push constant 4
lt
push local 3
and
not
if-goto WHILE_END1
push argument 1
push local 1
add
push this 1
add
pop pointer 1
push that 0
pop local 0
push local 2
push argument 2
push local 1
add
push local 0
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop local 3
goto IF_END5
label IF_FALSE5
push constant 0
pop local 3
label IF_END5
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 4
eq
push local 3
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 2
pop this 3
push constant 0
push argument 3
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push argument 3
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push argument 3
add
push argument 1
push constant 3
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push argument 3
add
push argument 2
push constant 3
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
label IF_FALSE6
label IF_FALSE4
push constant 0
return
function Board.getWinner 0
push argument 0
pop pointer 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Board.checkScore 3
push argument 0
pop pointer 0
push constant 4
call Array.new 1
pop local 2
push constant 0
push local 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 1
push constant 7
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 4
lt
not
if-goto WHILE_END1
push local 0
push constant 3
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 1
push local 0
push local 2
call Board.checkDiagonal 4
pop temp 0
push constant 0
push local 2
add
pop pointer 1
push that 0
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
return
label IF_FALSE1
push pointer 0
push local 1
push this 1
add
pop pointer 1
push that 0
push local 0
call Board.connectedCol 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push local 2
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 2
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 2
add
push local 0
push constant 3
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
return
label IF_FALSE2
label IF_FALSE0
push pointer 0
push local 1
push local 0
call Board.connectedRow 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
push local 2
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 2
add
push local 0
push constant 3
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 2
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
return
label IF_FALSE3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 2
return
function Board.dispose 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 7
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 2
push local 2
call Array.dispose 1
pop temp 0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 1
call Array.dispose 1
pop temp 0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
