function SquareGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 256
push constant 20
sub
push constant 256
push constant 31
sub
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 4
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.run 3
push argument 0
pop pointer 0
call Shot.new 0
pop local 2
push constant 0
pop local 1
call Aliens.new 0
pop this 3
push constant 0
pop this 1
push constant 0
pop this 2
call SquareGame.drawGrid 0
pop temp 0
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
push local 2
push this 3
call Shot.resumeShot 2
pop temp 0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push local 2
push this 3
call Shot.resumeShot 2
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop this 4
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 90
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push this 0
call Square.getX 1
push this 0
call Square.getSize 1
call Shot.shoot 3
pop temp 0
label IF_FALSE1
push local 0
push constant 88
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Square.incSize 1
pop temp 0
label IF_FALSE2
push local 0
push constant 130
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 3
pop this 4
label IF_FALSE3
push local 0
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 4
pop this 4
label IF_FALSE4
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push this 4
push constant 1
eq
push this 4
push constant 2
eq
or
push this 4
push constant 3
eq
or
push this 4
push constant 4
eq
or
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
label IF_FALSE5
push local 2
push this 3
call Shot.resumeShot 2
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 2
call Square.moveUp 2
pop temp 0
label IF_FALSE0
push this 4
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Square.moveDown 1
pop temp 0
label IF_FALSE1
push this 4
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 1
call Square.moveLeft 2
pop temp 0
label IF_FALSE2
push this 4
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push constant 1
call Square.moveRight 2
pop temp 0
label IF_FALSE3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.advance 0
push argument 0
pop pointer 0
push this 2
push constant 700
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 2
goto IF_END0
label IF_FALSE0
push this 2
push constant 1
add
pop this 2
push constant 0
return
label IF_END0
push this 1
push constant 10
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 1
label IF_FALSE1
push this 1
push constant 3
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push constant 10
call Aliens.moveAllSide 2
pop temp 0
goto IF_END2
label IF_FALSE2
push this 1
push constant 6
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push constant 20
neg
call Aliens.moveAllSide 2
pop temp 0
goto IF_END3
label IF_FALSE3
push this 1
push constant 9
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 3
push constant 10
call Aliens.moveAllSide 2
pop temp 0
label IF_FALSE4
label IF_END3
label IF_END2
push constant 3
call String.new 1
push constant 87
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 70
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push this 1
push constant 1
add
pop this 1
push constant 0
return
function SquareGame.drawGrid 3
push constant 0
pop local 2
push constant 50
pop local 0
push constant 256
pop local 1
label WHILE_EXP0
push local 2
push constant 9
lt
not
if-goto WHILE_END0
push constant 256
push local 2
push constant 20
call Math.multiply 2
push local 0
add
push constant 466
push local 2
push constant 20
call Math.multiply 2
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 3
call String.new 1
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 9
lt
not
if-goto WHILE_END1
push local 1
push local 2
push constant 25
call Math.multiply 2
add
push local 0
push local 1
push local 2
push constant 25
call Math.multiply 2
add
push constant 165
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
